In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style(style="darkgrid")

In [3]:
dengue_case = pd.read_csv('combined-data.csv')
dengue_case.head()

  City/Municipality     Month  Year Alive  Death
0           ALFONSO   January  2014     1    1.0
1           ALFONSO  February  2014     1    0.0
2           ALFONSO     March  2014     2    0.0
3           ALFONSO     April  2014     1    0.0
4           ALFONSO       May  2014     1    0.0

In [4]:
dengue_case.dtypes

City/Municipality     object
Month                 object
Year                   int64
Alive                 object
Death                float64
dtype: object

In [5]:
# remove whitespaces for "City/Municipality" column
dengue_case['City/Municipality'] = dengue_case['City/Municipality'].map(str.strip)

In [6]:
# remove whitespaces for 'Month' column
dengue_case['Month'] = dengue_case['Month'].map(str.strip)

In [7]:
dengue_case['City/Municipality'].value_counts()

City/Municipality
ALFONSO                     132
AMADEO                      132
BACOOR                      132
CARMONA                     132
CAVITE CITY                 132
DASMARINAS                  132
GENERAL EMILIO AGUINALDO    132
IMUS                        132
GENERAL TRIAS               132
KAWIT                       132
INDANG                      132
TERNATE                     132
TANZA                       132
MAGALLANES                  132
MARAGONDON                  132
MENDEZ                      132
NAIC                        132
SILANG                      132
ROSARIO                     132
TAGAYTAY CITY               132
GEN. MARIANO ALVAREZ        120
NOVELETA                    120
TRECE MARTIRES CITY         108
GEN, MARIANO ALVAREZ         12
NOVALETA                     12
TRECE MARITES CITY           12
TRECE MARTIRES               12
Name: count, dtype: int64

In [12]:
dengue_case1 = dengue_case.copy()

In [18]:
# replace inconsistent values in 'City/Municipality' column
dengue_case1['City/Municipality'] = dengue_case1['City/Municipality'].replace({
    'TRECE MARITES CITY': 'TRECE MARTIRES CITY',
    'TRECE MARTIRES': 'TRECE MARTIRES CITY',
    'NOVALETA': 'NOVELETA',
    'GEN. MARIANO ALVAREZ': 'GENERAL MARIANO ALVAREZ',
    'GEN, MARIANO ALVAREZ': 'GENERAL MARIANO ALVAREZ'
})

In [26]:
# filling empty cells for columns "Alive" and "Death"
dengue_case1['Alive'] = dengue_case1['Alive'].fillna(0)
dengue_case1['Death'] = dengue_case1['Death'].fillna(0)

In [27]:
dengue_case1.dtypes

City/Municipality     object
Month                 object
Year                   int64
Alive                 object
Death                float64
dtype: object