# 11 Year Dengue cases Exploratory Analysis

## Analysis Parts
- **Overall dengue case trend** - bar graph/line graph (Year x Cases)
- **Annual dengue case pattern** - bar graph/line graph (Month x Cases)
- **Time series each month (for every city/municipality)** - to measure if cases are going up or down for each municipality/city (linear time series plot)
- **Dengue case hotspot** - to measure which place has the most and least cases (heatmap)
- **Human Impact** - deaths for cases/case fatality ratio, or CFR (stacked bar graph)

## Key Metrics
- Total Cases
- Peak Month Index
- Top affected City/ies
- Survival Rate
- Case Fatality Ratio

In [ ]:
# libraries to be used
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.plotting.register_matplotlib_converters()
sns.set_style(style='darkgrid')

In [ ]:
# importing the file
dengue_case = pd.read_csv('../data-cleaning/combined-data.csv')
dengue_case.head()

  City/Municipality     Month  Year  Alive  Death  Cases
0           ALFONSO   January  2014      1    1.0    2.0
1           ALFONSO  February  2014      1    0.0    1.0
2           ALFONSO     March  2014      2    0.0    2.0
3           ALFONSO     April  2014      1    0.0    1.0
4           ALFONSO       May  2014      1    0.0    1.0

### Overall Dengue case trend