In [2]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt

In [3]:
dengue_cases = pd.read_csv('cleaned_dengue_data.csv')
larvae_recs = pd.read_csv('larvae-recs.csv')

In [4]:
print(dengue_cases.query('Month_Num == 3 & Year == 2015').index, dengue_cases.query('Month_Num == 4 & Year == 2016').index)

Index([14], dtype='int64') Index([27], dtype='int64')

In [5]:
cases_x_larvae = dengue_cases.iloc[14:28].copy()

In [6]:
total = cases_x_larvae['New_cases'].sum()

In [7]:
case_percent = cases_x_larvae['New_cases'] / total

In [8]:
print(case_percent)

14    0.034937
15    0.034937
16    0.009075
17    0.018287
18    0.047629
19    0.094234
20    0.172364
21    0.265370
22    0.163153
23    0.050154
24    0.046946
25    0.031389
26    0.019379
27    0.012146
Name: New_cases, dtype: float64

In [9]:
larvae_recs_sum = larvae_recs['No. of Larvae Collected'].sum()

In [10]:
cases_x_larvae['case_percent'] = case_percent

In [11]:
cases_x_larvae['Dengue_Population'] = cases_x_larvae['case_percent'] * larvae_recs_sum

In [12]:
cases_x_larvae.drop('case_percent', axis=1, inplace=True)

In [13]:
cases_x_larvae.head()

,Year,Month_Num,New_cases,Total_cases,RAINFALL,TMAX,TMIN,TMEAN,RH,Population_Density,Total_Population,Urban_Population,Urbanization_Rate,Dengue_Population
14,2015,3,512.0,4215.0,7.8,32.0,25.1,28.6,75,2578.0,3678301.0,3649060.0,72.02,785.311225
15,2015,4,512.0,4727.0,0.0,34.3,26.8,30.6,73,2578.0,3678301.0,3649060.0,72.02,785.311225
16,2015,5,133.0,4860.0,10.2,35.3,28.0,31.6,74,2578.0,3678301.0,3649060.0,72.02,203.996861
17,2015,6,268.0,5128.0,166.8,34.6,27.7,31.2,77,2578.0,3678301.0,3649060.0,72.02,411.061344
18,2015,7,698.0,5826.0,352.8,32.2,26.7,29.5,82,2578.0,3678301.0,3649060.0,72.02,1070.600068

In [ ]:
# cases_x_larvae.to_csv('apr205-may2016.csv', mode='w', index=False)

In [16]:
latest_data = dengue_cases.query('Year == 2023').copy()