In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit
import matplotlib.pyplot as plt

In [2]:
dengue_cases = pd.read_csv('cleaned_dengue_data.csv')
larvae_recs = pd.read_csv('larvae-recs.csv')

In [3]:
cases_x_larvae = dengue_cases.query('Year == 2023').copy()

In [4]:
total = cases_x_larvae['New_cases'].sum()

In [5]:
case_percent = cases_x_larvae['New_cases'] / total

In [6]:
print(case_percent)

108    0.104589
109    0.056564
110    0.047385
111    0.047172
112    0.040555
113    0.077268
114    0.067876
115    0.068090
116    0.092850
117    0.154536
118    0.146852
119    0.096265
Name: New_cases, dtype: float64

In [7]:
larvae_recs_sum = larvae_recs['No. of Larvae Collected'].sum()

In [8]:
cases_x_larvae['case_percent'] = case_percent

In [9]:
cases_x_larvae['Mosquito_Population'] = cases_x_larvae['case_percent'] * larvae_recs_sum

In [10]:
cases_x_larvae.drop('case_percent', axis=1, inplace=True)

In [11]:
cases_x_larvae['Mosquito_Population'] = cases_x_larvae['Mosquito_Population'].round()

In [14]:
cases_x_larvae['Total_Mosquito_Population'] = cases_x_larvae['Mosquito_Population'].cumsum()

In [15]:
cases_x_larvae.head()

,Year,Month_Num,New_cases,Total_cases,RAINFALL,TMAX,TMIN,TMEAN,RH,Population_Density,Total_Population,Urban_Population,Urbanization_Rate,Mosquito_Population,Total_Mosquito_Population
108,2023,1,490.0,69769.0,72.6,29.7,24.6,27.2,77,3158.0,4507288.0,2566916.0,73.36,2351.0,2351.0
109,2023,2,265.0,70034.0,12.4,31.0,24.9,27.9,73,3158.0,4507288.0,2566916.0,73.36,1271.0,3622.0
110,2023,3,222.0,70256.0,0.4,32.3,25.1,28.7,68,3158.0,4507288.0,2566916.0,73.36,1065.0,4687.0
111,2023,4,221.0,70477.0,68.7,33.5,26.7,30.1,69,3158.0,4507288.0,2566916.0,73.36,1060.0,5747.0
112,2023,5,190.0,70667.0,134.6,34.4,27.7,31.0,72,3158.0,4507288.0,2566916.0,73.36,912.0,6659.0

In [16]:
cases_x_larvae.to_csv('2023_cases_x_larvae.csv', mode='w', index=False)